@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* colores */
:root {
    --font-family-base: 'Roboto', sans-serif;
    --font-size-base: 10px;
    --az-primary-brand:             #0f172a;
    /* colores primarios */
    --az-primary:                   #0d6efd;
    --az-secondary:                 #6c757d;
    --az-success:                   #198754;
    --az-info:                      #0dcaf0;
    --az-warning:                   #ffc107;
    --az-danger:                    #dc3545;
    --az-light:                     #f8f9fa;
    --az-dark:                      #212529;

    /* colores del body */
    --az-body-color:                #adb5bd;

    /* colores del texto principal */
    --az-primary-text:              #6ea8fe;
    --az-secondary-text:            #dee2e6;
    --az-success-text:              #75b798;
    --az-info-text:                 #6edff6;
    --az-warning-text:              #ffda6a;
    --az-danger-text:               #ea868f;
    --az-light-text:                #f8f9fa;
    --az-dark-text:                 rgb(222, 226, 230);

    /* colores de los subtitulos */
    --az-primary-bg-subtle:         #031633;
    --az-secondary-bg-subtle:       #212529;
    --az-success-bg-subtle:         #051b11;
    --az-info-bg-subtle:            #032830;
    --az-warning-bg-subtle:         #332701;
    --az-danger-bg-subtle:          #2c0b0e;
    --az-light-bg-subtle:           #343a40;
    --az-dark-bg-subtle:            #1a1d20;

    /* colores del borde */
    --az-primary-border-subtle:     #084298;
    --az-secondary-border-subtle:   #495057;
    --az-success-border-subtle:     #0f5132;
    --az-info-border-subtle:        #055160;
    --az-warning-border-subtle:     #664d03;
    --az-danger-border-subtle:      #842029;
    --az-light-border-subtle:       #495057;
    --az-dark-border-subtle:        #343a40;

    /* colores de los links */
    --az-link-color:                #6ea8fe;
    --az-link-hover-color:          #9ec5fe;

    /* colores del borde por default */
    --az-border-color:              #495057;
    --az-border-color-translucent:  rgba(255, 255, 255, 0.15);

    /* puntos de quiebre */
    --az-breakpoint-xs:             0;
    --az-breakpoint-sm:             576px;
    --az-breakpoint-md:             768px;
    --az-breakpoint-lg:             992px;
    --az-breakpoint-xl:             1200px;
    --az-breakpoint-xxl:            1400px;
  }
  
  /*  ---------------------------------- RESTABLECIMIENTO DE PROPIEDADES DEL DOM  ---------------------------------- */
  html,
  body {
    font-size: var(--font-size-base);
    /* background: #031633; */
  }
  


  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  textarea,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video,
  main {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: var(--font-size-base);
    box-sizing: border-box;
    font-family: var(--font-family-base);
    vertical-align: baseline;
    color: var(--az-dark);
  }
  
  input {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1.6rem;
    box-sizing: border-box;
    font-family: var(--font-family-base);
    vertical-align: baseline;
    color: var(--az-dark);
    outline: none;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  nav,
  section,
  main {
    display: block;
  }
  
  body {
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  a {
    font-style: none;
    color: var(--az-dark);
    text-decoration: none;
    cursor: pointer;
  }
  
  button {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--az-dark);
    background: var(--az-secondary);
    border: thin solid var(--az-border-color);
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-family: var(--font-family-base);
  }
  
  button:focus {
    outline: none;
  }
  
  blockquote,
  q {
    quotes: none;
    color: var(--az-dark);
  }
  
  blockquote {
    content: "";
    content: none;
  }
  
  blockquote:before,
  blockquote:after {
    content: "";
    content: none;
  }
  
  q {
    content: "";
    content: none;
  }
  
  q:before,
  q:after {
    content: "";
    content: none;
  }
  
  table {
    border-collapse: collapse;
    /* border-spacing: 0; */
  }
  
  /*# sourceMappingURL=reset.css.map */